
.post-form {
    margin: 8px;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 8px 8px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.post-form-text {
    resize: vertical;
    border: 1px solid #ccc;
    min-height: 10em;
    padding: 1em;
    font-family: sans-serif;
    font-size: 11pt;
}

.post-form-preview {
    background-color: white;
    border: 1px solid #ccc;
    padding: 0 1em;
    font-size: 11pt;
}

.markdown-mode .post-form-text {
    font-family: monospace;
}

.post-form-text::placeholder {
    color: #aaa;
    opacity: 1;
}

.post-form-controls {
    padding-top: 8px;
    display: flex;
}

.post-form-mode-controls {
    padding-bottom: 8px;
    display: flex;
}

.post-form input[type=submit],
.post-form button {
    width: 100px;
    margin-right: 8px;
}

.post-form input[type=submit] {
    font-weight: bold;
}

.post-form input[type=checkbox] {
    margin: 0;
    padding: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.post-form input[type=checkbox]:hover {
    background-color: white;
}

.post-form input[type=checkbox]:checked {
    background-color: #fcc;
}

.post-form input[type=checkbox]:checked:hover {
    background-color: #ffd4d4;
}

.post-form input,
.post-form select,
.post-form button {
    padding: 6px;
    border: 1px solid #aaa;
    background-color: inherit;
    color: #aaa;
    -webkit-appearance: none;
}

.post-form input:enabled,
.post-form select:enabled,
.post-form button:enabled {
    background-color: #f8f8f8;
    color: #555;
}

.post-form select {
    margin-left: auto;
    margin-right: 8px;
}

.post-form option {
    color: red;
}

.standalone-post .comment-form {
    margin-top: 8px;
}

.modal .comment-form {
    margin: 0;
    border: none;
    border-top: 1px solid #ccc;
    border-radius: 0;
    margin-top: 8px;
}

.post-form input.post-form-advanced-toggle {
    margin-left: auto;
    margin-right: 8px;
}

.post-form input.post-form-attach-toggle {
    margin-left: auto;
}

.post-form input.post-form-advanced-toggle + .post-form-attach-toggle {
    margin-left: 0;
}

.post-form input.post-form-title {
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 4px;
    padding-left: 1em;
    font-weight: bold;
}

.post-form-description {
    resize: vertical;
    border: 1px solid #ccc;
    min-height: 3em;
    padding: 1em;
    font-family: sans-serif;
    font-size: 11pt;
    margin-bottom: 16px;
}

.post-form-description::placeholder {
    color: #aaa;
    opacity: 1;
}

.post-form .tag-bar,
.post-form .user-bar {
    display: flex;
    align-items: center;
    margin-top: 4px;
    flex-wrap: wrap;
}

.post-form .tag-bar .tag {
    border: 1px solid #ccc;
    border-radius: 24px;
    padding-right: 8px;
    font-size: 10pt;
    color: #555;
    margin-right: 8px;
}

.post-form .tag-bar .tag button,
.post-form .user-bar .tag button {
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0;
    border: none;
    background-color: unset;
    margin: 0;
    cursor: pointer;
}

.post-form .tag-bar input {
    background-color: white;
    font-size: 10pt;
    padding: 4px 12px;
    width: 8em;
    border: 1px solid #ccc;
    border-radius: 24px;
}

.post-form .user-bar .tag-new {
    position: relative;
}

.post-form .user-bar input {
    background-color: white;
    font-size: 10pt;
    padding: 4px;
    width: 8em;
    border: 1px solid #ccc;
}

.post-form .user-bar .tag-suggestions {
    position: absolute;
    top: 26px;
    z-index: 10;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    font-size: 10pt;
    width: calc(8em + 8px);
}

.post-form .user-bar .tag-suggestions > button {
    border: none;
    background-color: unset;
    width: 100%;
    padding: 4px;
    margin: 0;
    cursor: pointer;
}

.post-form .user-bar .tag-suggestions> button:last-child {
    border-radius: 0 0 3px 3px;
}

.post-form .user-bar .tag-suggestions > button:hover {
    background-color: white;
}

.post-form .user-bar .tag-suggestions > button:first-child {
    background-color: #fcc;
    font-weight: bold;
}

.post-form .user-bar .tag-suggestions > button:first-child:hover {
    background-color: #fdd;
}

.post-form .user-bar .tag,
.post-form .user-bar .user-tag {
    display: flex;
    flex-wrap: none;
    align-items: center;
}

.post-form .user-bar .tag {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    margin-right: 8px;
}

.post-form .user-tag-name {
    margin: 0 8px;
}

.post-form .user-bar-header {
    margin: 0;
    color: #555;
    font-weight: normal;
    margin-top: 16px;
    font-size: 11pt;
}

.post-form .user-bar .tag img {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #0c0;
    overflow: hidden;
    color: transparent;
}
