
.post-form {
    margin: 8px;
    margin-top: 20px;
    padding: 8px 8px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.post-form-text {
    resize: vertical;
    border: 1px solid #ccc;
    min-height: 10em;
    padding: 1em;
    font-family: sans-serif;
    font-size: 11pt;
}

.post-form-text::placeholder {
    color: #aaa;
    opacity: 1;
}

.post-form-controls {
    padding-top: 8px;
    display: flex;
}

.post-form-controls input[type=submit] {
    width: 100px;
    font-weight: bold;
}

.post-form-controls input[type=checkbox] {
    margin: 0;
    padding: 0;
    width: 35px;
    cursor: pointer;
}

.post-form-controls input[type=checkbox]:hover {
    background-color: white;
}

.post-form-controls input[type=checkbox]:checked {
    background-color: #fcc;
}

.post-form-controls input[type=checkbox]:checked:hover {
    background-color: #ffd4d4;
}

.post-form-controls input,
.post-form-controls select {
    padding: 6px;
    border: 1px solid #aaa;
    background-color: inherit;
    color: #aaa;
    -webkit-appearance: none;
}

.post-form-controls input:enabled,
.post-form-controls select:enabled {
    background-color: #f8f8f8;
    color: #555;
}

.post-form-controls select {
    margin-left: auto;
    margin-right: 8px;
}

.post-form-controls option {
    color: red;
}

.standalone-post .comment-form {
  margin-top: 8px;
}

.modal .comment-form {
  margin: 0;
  border: none;
  border-top: 1px solid #ccc;
  border-radius: 0;
  margin-top: 8px;
}
