
.user-list {
    margin-top: 8px;
}

.user-card {
    display: grid;
    grid-template-columns: max-content max-content auto max-content;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 8px 0;
}

.user-card img {
    width: 64px;
    height: 64px;
    background-color: #808;
    border-radius: 5px;
    color: transparent;
    margin: 8px;
}

.user-card .user-name {
    grid-column: 2;
    padding-top: 12px;
    padding-left: 4px;
    font-size: 15pt;
}

.user-card button {
    grid-column: 4;
    margin: auto;
    margin-right: 16px;
}
