
.popup-handle {
    -webkit-appearance: none;
    border: none;
    background-color: unset;
}

.popup-menu {
    display: none;
}

.popup:focus-within .popup-menu {
    display: block;
    position: absolute;
    z-index: 8;
}
